<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>DJW</h1>
            <p>This isn't the site you're looking for. You can go about your business. Move along.</p>
        </div>
    </div>
</div>